@font-face {
  font-family: 'SomeBrush';
  src: url('../assets/fonts/somebrush.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

.hello-css {
  color: red;
  font-family: 'SomeBrush';
}
